@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}
img{
    padding-top: 20px;
    width: 100px;
    height: 70px;
}
body{
    background: -prefix-linear-gradient(left, #30DED5, #544AEB);
    background: linear-gradient(to right,#30DED5, #544AEB);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h1{
    font-family: 'Oswald', sans-serif;
    margin-top: 10%;
    letter-spacing: 2px;
}
p{
    font-size: 0.8em;
}
#email{
    width: 400px;
    margin: 20px auto;
    padding: 10px 20px;
    border: 0;
    text-align: left;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
#suscribeBtn{
    margin: 20px auto;
    padding: 10px 20px;
    border: 0;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    cursor: pointer;
    background-color:rgb(14, 120, 212);
    color: white;
}
#backBtn{
    display: block;
    cursor: pointer;
    border: 1px solid white;
    background: transparent;
    padding: 5px 30px;
    margin: 19% auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    color: white;
}
